---
import { AddToCart } from '../../components/AddToCart';
import { Cart } from '../../components/Cart';
import Layout from '../../layouts/page.astro';
import { formatCurrency } from '../../util/formatCurrency';
import { groq } from 'astro-sanity';
import { Image } from 'astro:assets'
import { client } from '../../util/sanity';


export async function getStaticPaths() {
  const query = groq`*[_type == "product" && archived != true && slug != null]{"slug": slug.current, _id, name, description, price, "imageUrl": image.asset->url,}`;
  const products: Product[] = await client.fetch(query);
  if (!products) throw new Error("Failed to fetch data from Sanity");
  return products.map((product: Product) => {
    return {
      params: { slug: product.slug },
      props: { product },
    };
  });
}

const { product } = Astro.props;
const prerender = true;
---

<Layout>
  <div class="flex flex-row md:flex-col">
    <div class="flex-1 text-center flex flex-col justify-center items-center">
      <h1 class="font-bold font-ysabeau text-5xl text-center pt-5">{product.name}</h1>
      <p>{product.description}</p>
      <p class="font-bold">{formatCurrency(product.price)}</p>
      <Image width={400} height={400} class="w-[400px] border-2 border-crimson-100 hover:border-crimson-600 rounded-md  shadow-xl" src={product.imageUrl} alt={product.name} format="webp" />
      <AddToCart product={product} client:only="react" />
      <p class="text-purple underline text-center p-2"><a href="/einkauf">Alle Häkelarbeiten kaufen hier</a></p>
    </div>
    <div class="w-[350px] my-0 mx-auto px-5 py-5">
      <Cart client:only="react" />
    </div>
  </div>
</Layout>

